<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libros cuchi</title>
    <link rel="stylesheet" href="styles/main-page.css">
</head>
<body>
    <header>
        <h1 id="titulo">Gestion libros de la cuchicu</h1>
        <fieldset class="caja-buscador">
            <input type="text" class="item-buscador" id="input-buscar" placeholder="Buscar libro...">
            <input type="button" class="item-buscador" value="Buscar">
        </fieldset>
    </header>
    <body>
        <div class="caja-acciones">

        </div>
        <p class="item">.</p>
        <p class="item">.</p>
        <p class="item">.</p>
        <p class="item">.</p>
        <p class="item">.</p>
        <p class="item">.</p>
    </body>
</body>
</html>